@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
  background-color: #D4DBE3;
  height: auto;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
